<div class="name"><p class="font-italic">Welcome [+username+]</p></div>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="index.php?page=admin">Administration</a>
        <a class="dropdown-item" href="index.php?page=logout">Sign out</a>
    </div>
</div>