<main class="container" role="main">
	<h1 class="text-center my-set-header">About me</h1>
	<section class="row">

		<p>Under Construction</p>
<!--		<div class="col-md">-->
<!--			<article class="media">-->
<!--				<img src="images/profile_pic.jpg" alt="picture_of_me" class="rounded-circle align-self-start mr-3" width="95" height="95">-->
<!--				<div class="media-body">-->
<!--					<h5>Small story about me:</h5>-->
<!--					<p>Hi my name is Marcel Zacharias.-->
<!--						I have started to learn how to code in 2015 by myself at home but then I have realized I need more knowledge how to code in certain web programming languages and improve myself.-->
<!--						I knew HTML and CSS knowledge ain't enough for build web application.-->
<!--						Therefore, I joined to Birkbeck University in London January 2016.</p>-->
<!--						<p>I currently finished my Foundation degree in Computer Science at Birkbeck University of London. I have passion about coding in PHP which is back-end.</p>-->
<!--						<p>I’m able to do front-end as well as I do have the necessary skills for it but I do prefer more back-end as it is more excited with coding and creating web application.-->
<!--							So far, I have created some school project that you can find on the page <a href="index.php?page=projects">PROJECT</a>.-->
<!--							If you are looking for freelancer for your website please do not hesitate to <a href="index.php?page=contact">contact me</a>.-->
<!--							Either if you would like me to debug your script or anything that is related to PHP or any other languages that are displayed in My Skills area to the right.-->
<!--						</p>-->
<!--					</div>-->
<!--				</article>-->
<!--			</div>-->
<!--			<div class="col-md">-->
<!--				<article id="my_skills">-->
<!--					<h3>My skills</h3>-->
<!--					<div class="skill_box">-->
<!--						<p>HTML5/Css3</p>-->
<!--						<p>100%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="one" style="width:0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>PHP</p>-->
<!--						<p>95%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="two" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>JavaScript/JQuery</p>-->
<!--						<p>85%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="three" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>Object-Oriented</p>-->
<!--						<p>95%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="fourth" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>JAVA</p>-->
<!--						<p>85%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="fifth" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>MySQL</p>-->
<!--						<p>70%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="sixth" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>JSON</p>-->
<!--						<p>75%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="seventh" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="skill_box">-->
<!--						<p>Bootstrap</p>-->
<!--						<p>85%</p>-->
<!--						<div class="skill">-->
<!--							<div class="skill_level" id="eight" style="width: 0%"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</article>-->
<!--			</div>-->
		</section>
	</main>
	<script type="text/javascript" src="include/javascript/about.js"></script>
