<main role="main">
    <div class="container">
        <section class="introduction">
            <article>
                <h1 class="text-center">Administrative</h1>
                <span class="submit-message">[+msg+]</span>
            </article>
            <article class="settings">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="row">
                                <div class="col-sm-10 collapse-header" data-toggle="collapse" data-target="#collapseOne"
                                     aria-expanded="false" aria-controls="collapseOne">
                                    <h2 class="mb-0 font-weight-normal">Manage Story</h2>
                                </div>
                                <div class="col-sm-2">
                                    [+story+]
                                </div>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Story</th>
                                        <th scope="col">Picture</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    [+storyRows+]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="row">
                                <div class="col-sm-10 collapse-header" data-toggle="collapse" data-target="#collapseTwo"
                                     aria-expanded="false" aria-controls="collapseTwo">
                                    <h2 class="mb-0 font-weight-normal">Manage Skills</h2>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#addSkillModal" class="btn btn-success" data-toggle="modal"><i
                                            class="material-icons"></i> <span>Add New</span></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Development</th>
                                        <th scope="col">Language</th>
                                        <th scope="col">Framework</th>
                                        <th scope="col">Knowledge</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    [+skillsRows+]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <div class="row">
                                <div class="col-sm-10 collapse-header" data-toggle="collapse"
                                     data-target="#collapseThree"
                                     aria-expanded="false" aria-controls="collapseThree">
                                    <h2 class="mb-0 font-weight-normal">Manage Projects</h2>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#addProjectModal" class="btn btn-success" data-toggle="modal"><i
                                            class="material-icons"></i> <span>Add New</span></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Url Link</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    [+projectRows+]
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="administrativeAddModal">
            <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelProject"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelProject">Add New Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="addProjectForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="projectName">Name of the Project</label>
                                    <input type="text" class="form-control" id="projectName" name="projectName" required>
                                </div>
                                <div class="form-group">
                                    <label for="projectDesc">Description</label>
                                    <textarea class="form-control" id="projectDesc" name="projectDesc"
                                              aria-describedby="descHelpBlock" required></textarea>
                                    <small id="descHelpBlock" class="form-text text-muted">
                                        Please enter short description of your project.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="url">Url Link</label>
                                    <input class="form-control" id="url" name="url"  placeholder="https://example.com" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary addProject">Add</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelSkill"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelSkill">Add New Skill</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="addSkillForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="development">Development</label>
                                    <select name="development" class="custom-select" id="development" required>
                                        <option value="">Please select</option>
                                        <option value="Front-End">Front-End</option>
                                        <option value="Back-End">Back-End</option>
                                        <option value="database">Database</option>
                                        <option value="sysAdmin">SysAdmin</option>
                                        <option value="cms">CMS</option>
                                    </select></div>
                                <div class="form-group">
                                    <label for="lang">Language</label>
                                    <input type="text" class="form-control" id="lang" name="lang" required>
                                    <small id="langHelpBlock" class="form-text text-muted">
                                        If you want to add the same language you need to add framework with it.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="framework">Framework</label>
                                    <input type="text" class="form-control" id="framework" name="framework"
                                           placeholder="Optional">
                                </div>
                                <div class="form-group">
                                    <label for="knowledge">Knowledge</label>
                                    <input type="range" class="custom-range" min="0.0" max="5.0" step="0.01"
                                           value="2.5" id="knowledge" name="knowledge"
                                           oninput="showVal('.knowledgeValue', this.value)"
                                           onchange="showVal('.knowledgeValue', this.value)">
                                    <span class="knowledgeValue"></span>
                                    <small id="knowledgeHelpBlock" class="form-text text-muted">
                                        Basic 1.0, Alright 2.0, Handy 3.0, Expert 4.0, Guru 5.0
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="color">Choose color</label>
                                    <input type="color" class="form-control" id="color" name="color" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary addSkill">Add</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addStoryModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelStory"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelStory">Add New Story</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="addStoryForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="story">Story</label>
                                    <textarea class="form-control" id="story" name="story" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="picture">Profile Picture</label>
                                    <input type="file" class="form-control-file" id="picture" name="picture" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary addStory">Add</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelEditProject"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelEditProject">Edit Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="editProjectForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="editProjectName">Name of the Project</label>
                                    <input type="text" class="form-control" id="editProjectName" name="projectName" required>
                                </div>
                                <div class="form-group">
                                    <label for="editProjectDesc">Description</label>
                                    <textarea class="form-control" id="editProjectDesc" name="projectDesc"
                                              aria-describedby="descHelpBlock" required></textarea>
                                    <small id="editDescHelpBlock" class="form-text text-muted">
                                        Please provide short description of the project.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="editUrl">Url Link</label>
                                    <input class="form-control" id="editUrl" name="url"  placeholder="https://example.com" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info editProject">Edit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editSkillsModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelEditSkill"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelEditSkill">Edit Skill</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="editSkillForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="editDevelopment">Development</label>
                                    <select name="development" class="custom-select" id="editDevelopment" required>
                                        <option value="">Please select</option>
                                        <option value="Front-End">Front-End</option>
                                        <option value="Back-End">Back-End</option>
                                        <option value="database">Database</option>
                                        <option value="sysAdmin">SysAdmin</option>
                                        <option value="cms">CMS</option>
                                    </select></div>
                                <div class="form-group">
                                    <label for="editLanguage">Language</label>
                                    <input type="text" class="form-control" id="editLanguage" name="lang" required>
                                </div>
                                <div class="form-group">
                                    <label for="editFramework">Framework</label>
                                    <input type="text" class="form-control" id="editFramework" name="framework"
                                           placeholder="Optional">
                                </div>
                                <div class="form-group">
                                    <label for="editKnowledge">Knowledge</label>
                                    <input type="range" class="custom-range" min="0.0" max="5.0" step="0.01"
                                           value="2.5" id="editKnowledge" name="knowledge"
                                           oninput="showVal('.knowledgeValue', this.value)"
                                           onchange="showVal('.knowledgeValue', this.value)">
                                    <span class="knowledgeValue"></span>
                                </div>
                                <div class="form-group">
                                    <label for="editColor">Choose color</label>
                                    <input type="color" class="form-control" id="editColor" name="color" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info editSkill">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editStoryModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelEditStory" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelEditStory">Edit Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-4 py-3" id="editStoryForm" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="editStory">Story</label>
                                    <textarea class="form-control" id="editStory" name="story"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="editPicture">Profile Picture</label>
                                    <input type="file" class="form-control-file" id="editPicture" name="picture">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info editStory">Save</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelDeleteProject"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelDeleteProject">Delete Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete these Records?</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger deleteProject">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteSkillModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelDeleteSkill"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelDeleteSkill">Delete Skill</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete these Records?</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger deleteSkill">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteStoryModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelDeleteStory"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelDeleteStory">Delete Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete these Records?</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger deleteStory">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="oneStoryModal" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabelOneStory"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabelOneStory">Story</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You cannot add more then one story. Please delete the existing one or edit.</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
