<footer class="container my-foot" role="contentinfo">
    <div class="row">
        <div class="col-md-4">
            <p>Follow me: </p>
            <a href="https://www.facebook.com/PHP-Web-developer-2062742574047436/?modal=admin_todo_tour"
               class="fa fa-facebook" aria-hidden="true"></a>
            <a href="https://www.linkedin.com/in/marcel-zacharias-b94496149" class="fa fa-linkedin"
               aria-hidden="true"></a>
            <a href="https://github.com/marcellio4" class="fa fa-github" aria-hidden="true"></a>
        </div>
        <div class="col-md-4">
            <p>This is space for additional information</p>
        </div>
        <div class="col-md-2 my-foot-a">
            <a href="index.php?page=about">About</a>
            <a href="index.php?page=projects">Projects</a>
            <a href="index.php?page=contact">Contact</a>
        </div>
    </div>
    <p class="allrights">&copy; [+date+] &commat; MZacharias</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
<script src="include/javascript/main.js"></script>
</body>
</html>
