<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Developer front-end and back-end developer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Author" content="Marcel Zacharias">
    <meta name="description"
          content="Marcel Zacharias is web developer who is focusing front-end and back-end writing nice and clean codes.">
    <meta name="keywords"
          content="Web developer,Back-end developer,PHP developer,Marcel,Zacharias,MySQL,JQuery,Freelance developer, Software Engineer, JAVA">
    <meta property="og:url" content="https://mzacharias.co.uk">
    <meta name=“Robots” content=“index, follow”/>
    <meta name="google-site-verification" content="PgwJN_6VObEdbZ4cO_hzrVpVBvBaIBTb5ry10mBgLXs"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="media/stylesheet.css"/>
</head>
<body>
<header role="banner">
    <nav class="navbar stroke my-navbar navbar-expand-md fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img src="images/favicon.ico" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav my-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=contact">Contact me</a>
                    </li>
                </ul>
            </div>
            [+button+]
        </div>
    </nav>
</header>
[+modal+]
