<main role="main">
    <div class="container">
        <section class="jumbotron my-jumb">
            <div class="my-float-right">
                <h1 class="display-4 my-float-right">Web Developer</h1>
                <p class="my-float-right">Welcome, I'm web developer and <br> software engineer from London.</p>
                <a class="btn btn-primary btn-md my-float-right" href="index.php?page=contact" role="button">Hire me</a>
            </div>
        </section>
        <section class="introduction">
            <article class="border-top border-info custom-story">
                <h2>Welcome to my own portfolio</h2>
                <p>I am web developer and software engineer working in my spare time. My concern is to satisfy your
                    needs
                    for your website or any other project.
                    I specialise more in back-end web development using <b>PHP</b> language in object-oriented
                    programming.
                    As a software engineer I am using <b>JAVA</b>. If you need to create new website, debug or write
                    script
                    for your project please let me know and
                    we can talk about your project more in detail <a href="index.php?page=contact">here</a>.</p>
            </article>
            <article class="border-top border-info custom-story">
                <div class="media">
                    <img src="[+img+]" class="mr-3 rounded-circle" alt="profile picture">
                    <div class="media-body">
                        <h5 class="mt-0">About me</h5>
                        [+story+]
                    </div>
                </div>
            </article>
        </section>
    </div>
</main>
