	<main class="container" role="main">
		<section class="jumbotron my-jumb">
			<div class="my-float-right">
				<h1 class="display-4 my-float-right">Web Developer</h1 class="display-4">
				<p class="my-float-right">Welcome, I'm web developer and <br> software engineer from London.</p>
				<a class="btn btn-primary btn-md my-float-right" href="index.php?page=contact" role="button">Hire me</a>
			</div>
		</section>
		<section class="introduction">
			<article>
				<h2>Welcome to my own portfolio</h2>
				<p>I am web developer and software engineer working in my spare time. My concern is to satisfy your needs for your website or any other project.
				I specialise more in back-end web developmnet using <b>PHP</b> language in object-oriented programming.
			As a software engineer I am using <b>JAVA</b>. If you need to create new website, debug or write script for your project please let me know and
		we can talk about your project more in detial. If you would like to read more about me you can do so in <a href="index.php?page=about">here</a></p>
			</article>
		</section>
		</main>
