<main role="main">
    <div class="container">
        <h1 class="text-center my-set-header">Projects</h1>
        <section class="introduction row">
            <p>Under Construction</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h5>Project 1</h5>
                            <div class="card-body">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h5>Project 2</h5>
                            <div class="card-body">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here,</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h5>Project 3</h5>
                            <div class="card-body">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here,</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h5>Project 4</h5>
                            <div class="card-body">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                    it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                    here,</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--		<div class="col-12 pt-3 pb-3" id="bubblebox">-->
            <!--			<div id="bubblecontent">-->
            <!--				<a href="http://titan.dcs.bbk.ac.uk/~mzacha02/pet_rescue/"><img src="images/db_portfolio/petRescue_cr_nw.png" alt="Pet Rescue" /></a>-->
            <!--				<h3>Pet Rescue</h3>-->
            <!--				<p>This is CMS website created with WordPress. It was my final project at school.</p>-->
            <!--			</div>-->
            <!--			<div id="bubbles">-->
            <!--				<div onclick="bubbles(0); clearInterval(intrvl);" style="background:#999;"></div>-->
            <!--				<div onclick="bubbles(1); clearInterval(intrvl);"></div>-->
            <!--				<div onclick="bubbles(2); clearInterval(intrvl);"></div>-->
            <!--				<div onclick="bubbles(3); clearInterval(intrvl);"></div>-->
            <!--			</div>-->
            <!--		</div>-->
            <!--	</section>-->
            <!--	<section class="mt-5 mb-5">-->
            <!--		<ul class="list-unstyled">-->
            <!--			<li class="media">-->
            <!--				<div class="media-body">-->
            <!--					<h5 class="mt-0 mb-1">Pet Charity</h5>-->
            <!--					This project was my final school project where pet charity needed to extend functionality of their website. The user will be able to-->
            <!--					purchase marchendise such as cups, colar, beds etc. It involve using PHP and MySQL keep track of the products.-->
            <!--					<a href="http://titan.dcs.bbk.ac.uk/~mzacha02/pet_rescue">Look here</a>-->
            <!--				</div>-->
            <!--			</li>-->
            <!--			<li class="media my-4">-->
            <!--				<div class="media-body">-->
            <!--					<h5 class="mt-0 mb-1">Photo Gallery</h5>-->
            <!--					Final assignment for PHP and MySQL module where I had to create photo gallery and resize img for thumbnails then after-->
            <!--					user click on the thumb it will be redirect to original size of the img that have been upload. Using form for upload img and store-->
            <!--					in database for redisplay the img in original size. The design is not implemented as it was unnecessary for the project and was not marked.-->
            <!--					<a href="http://titan.dcs.bbk.ac.uk/~mzacha02/w1fma/index.php">Look here</a>-->
            <!--				</div>-->
            <!--			</li>-->
            <!--			<li class="media">-->
            <!--				<div class="media-body">-->
            <!--					<h5 class="mt-0 mb-1">Admin and student Login</h5>-->
            <!--					This is cover module for PHP. I had to create two login. 1st for <b>student</b> that he will be able to see his modules that he study.-->
            <!--					2nd for <b>admin</b> where admin can register new student and also can see all student modules. If you want to try admin username is admin-->
            <!--					and password DCSadmin01. The design is not implemented as it was unnecessary for the project and was not marked.-->
            <!--					<a href="http://titan.dcs.bbk.ac.uk/~mzacha02/p1fma/index.php">Look here</a>-->
            <!--				</div>-->
            <!--			</li>-->
            <!--		</ul>-->
        </section>
    </div>
</main>
